<p style="color: green"><%= notice %></p>

<h1>Veterinarios</h1>

<div id="veterinarios">
  <ul>
    <% @veterinarios.each do |veterinario| %>
        <p>
          <li>
            <%= link_to veterinario.nome, veterinario %>
          </li>
        <p>
    <% end %>
  <%= render "pagination"%>
  </div>
    <ul>
      <%= link_to "New veterinario", new_veterinario_path %>
    </ul>
  </ul>