

<h1>Veterinarios</h1>

<div id="veterinarios">
  <ul>
    <% @veterinarios.each do |veterinario| %>
        <p>
          <li>
            <%= render veterinario %>
          </li>
        <p>
    <% end %>
  <%= render "pagination"%>
  </div>
    <ul>
      <%= link_to "Novo veterinario", new_veterinario_path, class: "btn btn-primary" %>
      <%= link_to veterinarios_path(format: :csv), class:"btn btn-success" do %>
            <span>Baixar CSV </span>

   <% end %>
    </ul>
  </ul>