<div id="<%= dom_id atendimento %>">
  <p>
    <strong>Atendimentos data:</strong>
    <%= atendimento.atendimentos_data %>
  </p>

  <p>
    <strong>Veterinario:</strong>
    <%= atendimento.veterinario_id %>
  </p>

  <p>
    <strong>Animal:</strong>
    <%= atendimento.animal_id %>
  </p>

</div>
