<h1>Editing atendimento</h1>

<%= render "form", atendimento: @atendimento %>

<br>

<div>
  <%= link_to "Mostrar esse atendimento", @atendimento %> |
  <%= link_to "Voltar para atendimentos", atendimentos_path %>
</div>
