<h1>Editing atendimento</h1>

<%= render "form", atendimento: @atendimento %>

<br>

<div>
  <%= link_to "Show this atendimento", @atendimento %> |
  <%= link_to "Back to atendimentos", atendimentos_path %>
</div>
