

<h1>Atendimentos</h1>

<div id="atendimentos">
  <% @atendimentos.each do |atendimento| %>
    <%= render atendimento %>
    <p>
      <%= link_to "Show this atendimento", atendimento %>
    </p>
  <% end %>
</div>

<%= link_to "New atendimento", new_atendimento_path, class: "btn btn-primary" %>
