

<h1>Atendimentos</h1>

<div id="atendimentos">
  <% @atendimentos.each do |atendimento| %>
    <%= render atendimento %>
  <% end %>
</div>

<%= link_to "Novo atendimento", new_atendimento_path, class: "btn btn-primary" %>
