

<%= render @atendimento %>

<div style="padding:5px">
 <span><%= link_to "Voltar para atendimentos", atendimentos_path, class: "btn btn-secondary" %></span>
 <span><%= button_to "Apagar esse atendimento", @atendimento, method: :delete, class: "btn btn-danger" %></span>
</div>
