<div clas="container" id="Home" style="height: 300px; text-align:center;
  align-items: center;
  justify-content: center;
  font-size:30px;
  font-family:Libre Baskerville">
<p clas="informação"style="height:100%;
margin:250px" >
Clinica veterinaria dedicada a atendimentos de animais
</p>
</div>
