<div id="<%= dom_id animal %>">
  <p>
    <strong>Nome:</strong>
    <%= animal.nome %>
  </p>

  <p>
    <strong>Idade:</strong>
    <%= animal.idade %>
  </p>

  <p>
    <strong>Sexo:</strong>
    <%= animal.sexo %>
  </p>

</div>
