<div class="site_pagination" aria-label="pagination">
    <%= link_to_next_page @animals, ">", class: "btn btn-outline-primary"%>
    <%= link_to_previous_page @animals, "<", class: "btn btn-outline-primary"%>
</div>