<p style="color: green"><%= notice %></p>

<h1>Animals</h1>

<div id="animals">
  <ul>
    <% @animals.each do |animal| %>
      <p>  
        <li>
          <%= link_to animal.nome, animal %>
        </li>
      </p>
    <% end %>
  <%= render "pagination" %>
  </div>
    <ul>
      <%= link_to "New animal", new_animal_path %>
    </ul>
  </ul>