<%= render @animal %>

<div>
  <%= link_to "Editar esse animal", edit_animal_path(@animal), class: "btn btn-primary" %> |
  <%= link_to "Voltar para animais", animals_path, class: "btn btn-secondary" %>

  <%= button_to "Apagar esse animal", @animal, method: :delete, class: "btn btn-danger" %>
</div>
