  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto ">
       <img href="https://static.vecteezy.com/ti/vetor-gratis/t2/8128662-veterinario-medico-cruz-logo-com-pata-de-cachorro-e-coracao-vetor.jpg" class="img-thumbnail" alt="logo cruz com patinha">
      </a>
      

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="<%=veterinarios_path%>"  class="nav-link">Veterinarios</a></li>
        <li class="nav-item"><a href="<%=animals_path%>" class="nav-link">Animais</a></li>
        <li class="nav-item"><a href="<%=atendimentos_path%>" class="nav-link">Atendimentos</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
    </header>
  </div>