  <div class="container" style="background-color:#c5e3f6;margin:5px;border-radius:1%" >
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto ">
       <img src="C:\browch\vscode\RAILS\Trabalho_Final\Pet\app\assets\images\cruz-médica-com-pata-do-s-cão-113031160.jpg" class="img-thumbnail" alt="logo cruz com patinha" style="color:black;width:50px;height:50px">
      </a>
      

    <ul class="nav nav-pills"  >
        <li class="nav-item"><a href="<%=veterinarios_path%>" style="background-color:#e2f3f5;color:black;margin:5px;border-radius:50%" class="nav-link">Veterinarios</a></li>
        <li class="nav-item"><a href="<%=animals_path%>" style="background-color:#e2f3f5;color:black;margin:5px;border-radius:50%" class="nav-link">Animais</a></li>
        <li class="nav-item"><a href="<%=atendimentos_path%>" style="background-color:#e2f3f5;color:black;margin:5px;border-radius:50%" class="nav-link">Atendimentos</a></li>
        <li class="nav-item"><a href="#" style="background-color:#e2f3f5;color:black;margin:5px;border-radius:50%" class="nav-link">About</a></li>
      </ul>
    </header>
  </div>
